body {
  background: #041634;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
}

#canvas {
  flex-shrink: 0;
}

a {
  position: absolute;
  text-decoration: none;
  color: #405261;
}

#author {
  top: 5px;
  left: 5px;
}

#createjs {
  bottom: 5px;
  right: 8px;
}

#createjs img {
  display: inline;
  width: 100px;
  vertical-align: middle;
}
