body {
  background: #100000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
}

#canvas {
  flex-shrink: 0;
}

#createjs {
  width: 100px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
